/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
	box-sizing: border-box;
}

/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}

a {
	color: #2772B0;
}

.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px;
}

/* grid system -- mobile first! */
.row {
	display: flex;
	flex-flow: row wrap;
	flex: 0 1 auto;
}

[class*="col"] {
	flex: 0 0 92%;
	margin: 2% 4%;
	text-align: center;
}

.col-6-3,
.col-12-3 {
	background-color: #ffc;
}

.col-6 {
	background-color: #fcf;
}

.col-12-9 {
	background-color: #cff;
}

.col-12,
.col-12-6 {
	background-color: #ccf;
}

.reverse {
	flex-direction: row-reverse;
}


/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px) {
	[class*="col"] {
		margin-right: 0;
	}

	.col-6-3,
	.col-6 {
		flex: 0 0 44%;
	}

	.col-12-3,
	.col-12-6,
	.col-12-9,
	.col-12 {
		flex: 0 0 92%;
	}

	.reverse [class*="col"] {
		margin-left: 0;
		margin-right: 4%;
	}
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {

	.col-6-3,
	.col-12-3 {
		flex: 0 0 20%;
	}

	.col-6,
	.col-12-6 {
		flex: 0 0 44%;
	}

	.col-12-9 {
		flex: 0 0 68%;
	}

	.col-12 {
		flex: 0 0 92%;
	}

	.order-first {
		order: 1;
	}

	.order-second {
		order: 2;
	}

	.order-third {
		order: 3;
	}

	.order-fourth {
		order: 4;
	}
}