html {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --main-border-color: #333;
}

body {
  padding: 10px;
}

.brand {
  font-size: 60px;
  font-weight: normal;
  text-align: center;
  font-family: 'Great Vibes',
    cursive;
}

.brand-header {
  border-bottom: solid var(--main-border-color) 3px;
}

.row {
  display: flex;
  border-bottom: solid var(--main-border-color) 3px;
  border-left: solid var(--main-border-color) 1px;
}

.story {
  border-right: solid var(--main-border-color) 1px;
  padding: 0 10px;
  line-height: 1.5;
}

.quarter {
  flex-basis: 25%;
}

.half {
  flex-basis: 50%;
}

.triple-quarter {
  flex-basis: 75%;
}

.article-title {
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  font-style: italic;
}

.article-img {
  width: 100%;
}

.nav {
  display: flex;
}

.navbar {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}


.site-section {
  display: flex;
  flex: 1;
  align-items: center;
  list-style: none;
}


.section-link {
  font-weight: bold;
  font-size: 28px;
  color: #57575c;
  text-decoration: none;
  padding-left: 30px;
}

.story-title:hover {
  text-decoration: underline;
}

.site-section:nth-child(1) {
  background-color: #ffefc4;
}

.site-section:nth-child(2) {
  background-color: #bcf6ff;
}

.site-section:nth-child(3) {
  background-color: #8be7be;
}

.site-section:nth-child(4) {
  background-color: #8891ee;
}

.site-section:nth-child(5) {
  background-color: #d1bad5;
}

/* .story-politics {
  background-color: #ffefc4;
}

.story-technology {
  background-color: #bcf6ff;
}

.story-local {
  background-color: #8be7be;
}

.story-opinion {
  background-color: #8891ee;
}

.story-sports {
  background-color: #d1bad5;
} */