body {
  font-family: sans-serif;
}

#assignment-instructions {
  font-family: sans-serif;
  color: blueviolet;
}

code {
  font-family: monospace;
  color: red;
  font-weight: 600;
}

.code-green {
  color: rgb(26, 202, 26);
}

/* li+li {
  background-color: black;
  color: white;
} */

ol>li {
  background-color: black;
  color: white;
}